<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP:X-Forwarded-Proto} !https [OR]
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    RewriteCond %{HTTP_HOST} ^bilapromo\.com\.br$ [NC]
    RewriteRule ^(.*)$ https://www.bilapromo.com.br/$1 [L,R=301]
</IfModule> 